@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;1,300&display=swap');

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cfccff;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: #5f27cd;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #5f27cd;
  color: antiquewhite;
}

.active {
  background-color: #5f27cd;
  color: antiquewhite;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  margin: 20px 20px;
}



.flex {
  display: flex;
  justify-content: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.button {
  background-color: #5f27cd;
  padding: 15px 50px;
  border: none;
  color: antiquewhite;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px 0px;
}

img {
  width: 36%;
  text-align: center;
  display: block;
  margin: 10px auto;
}

footer {
  background-color: #cfccff;
  color: #5f27cd;
  padding: 10px;
  text-align: center;
}
