@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;1,300&display=swap');

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
}

/* Header */
header {
  background-color: #cfccff;
  color: #5f27cd;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 12vh;
}

main {
  width: 80%;
  margin: auto;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2rem;
}

.position {
  position: sticky;
  top: 0;
}

.fs {
  font-style: italic;
}

/* Konten Cards */
.Konten {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 2px 7px grey;
  width: 25%;
  margin: 30px 20px;
}

.container {
  padding: 10px 12px;
}

.button {
  background-color: white;
  padding: 15px 30px;
  border: 1px solid #5f27cd;
  color: #5f27cd;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px 10px;
}

.button:hover {
  background-color: #5f27cd;
  color: white;
}

.tombol {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Footer */
footer {
  background-color: #cfccff;
  color: #5f27cd;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  height: 12 vh;
}
